@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&family=Poppins:wght@400;500;600;700&display=swap');

::-webkit-scrollbar {
  display: none;
}

:root {
  --first-color: #6070ff;
  --title-color: #172b4d;
  --text-color: #344563;
}

body {
  background-color: #f7f7f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.menu-container,
.main,
.projects-container,
.about-section,
.contact_section {
  margin: 0 auto;
  padding: 1rem;
}

.menu-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  transform: rotate(360deg);
  transition: all 1s ease-in-out;
  transition-delay: 4s;
}

.navbar .menu-btn:hover {
  cursor: pointer;
}

.nav-list {
  display: none;
}

.nav-list a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.mobile-menu ul a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-transform: capitalize;
}

.nav-list a:hover {
  background-color: lightgray;
}

.mobile-menu {
  display: none;
  background-color: #6070ff;
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 0.9;
}

.mobile-menu ul {
  margin-top: 70px;
  list-style: none;
}

.close-btn {
  color: #fff;
  list-style: none;
  font-size: 50px;
  float: right;
}

.close-btn:hover {
  cursor: pointer;
}

.main {
  background-color: #fff;
  background-image: url('./images/header-shapes\ mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 1rem;
  border-bottom-left-radius: 40px;
}

.heading1 {
  font-size: 51px;
  font-weight: 700;
  color: var(--title-color);
  line-height: 4rem;
  padding-top: 2rem;
}

/* project popup start here */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 10, 30, 0.5);
  z-index: 9999;
}

.popup-content {
  position: relative;
  width: 85%;
  height: 95%;
  background-color: #fff;
  align-items: center;
  padding: 5px 16px;
  border: 1px solid #dfe1e6;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  margin-top: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 50px;
  color: #67798e;
  list-style: none;
  font-size: 30px;
}

.close-button:hover {
  cursor: pointer;
}

#popup-title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--title-color);
  padding: 5px 0;
}

.popup-categories li {
  display: inline-block;
  margin: 5px;
}

.see-container {
  display: flex;
  gap: 10px;
  margin: auto;
}

.see-live {
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  width: 118px;
  height: 40px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  color: #396df2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cate {
  margin-bottom: 5px;
  margin-top: 10px;
}

.contact-line {
  border: 0.5px solid #ebecf0;
  margin-bottom: 20px;
  width: 250px;
  margin-left: 0;
}

.popup-image {
  width: 100%;
  height: 30%;
  object-fit: cover;
  margin: 20px auto;
}

.biography {
  width: 90%;
  height: 30%;
  font-weight: 400px;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

/* project popup ends here */
.bio,
.bio1 {
  font-style: normal;
  padding: 20px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--text-color);
}

button {
  transition: all 0.3s ease-in-out;
}

.conn {
  color: #7f8cff;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.media-container {
  list-style: none;
  display: flex;
  gap: 20px;
}

.projects-container {
  margin: 20px auto;
  display: grid;
  row-gap: 80px;
}

.project-1,
.project-2,
.project-3 {
  width: 335px;
  height: 552px;
  background-color: #fff;
  align-items: center;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
}

.project-4 {
  width: 327px;
  height: 596px;
  background-color: #fff;
  align-items: center;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
}

.card1-image,
.card2-image,
.card3-image,
.card4-image {
  width: 295px;
  height: 220px;
}

.ton {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--title-color);
  padding: 14px 0;
}

.canopy {
  display: flex;
  gap: 20px;
}

.canopy h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.canopy span {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.categories {
  list-style: none;
  display: flex;
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.categories li {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  margin: 0 10px 20px 0;
}

.see-project {
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  width: 118px;
  height: 40px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 16px;
  color: #396df2;
  padding: 10px;
}

.see-project:hover {
  cursor: pointer;
  color: #fff;
  background-color: #396df2;
}

button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #396df2;
}

.about-section {
  margin-top: 80px;
  width: 375px;
  height: auto;
  background-color: #fff;
  border-top-right-radius: 60px;
}

.content-1 {
  padding: 100px 0 10px 0;
}

.resume {
  font-style: normal;
  font-weight: 500;
  width: 162px;
  height: 48px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 16px;
  color: #396df2;
  padding: 8px;
  margin-top: 15px;
}

.content-2 {
  margin: 20px 0;
  padding: 20px;
}

.lang {
  display: flex;
  justify-content: space-between;
}

.lang span {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.language-card {
  list-style: none;
  padding: 20px 0 0 0;
  margin: 10px 0;
}

.language-card li {
  display: flex;
  background: #f7f7f9;
  margin: 15px 0 15px 20px;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
}

.language-card li span {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 25px 20px;
}

.frem {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

hr {
  margin-left: 10px;
  width: 300px;
  border: 0.5px solid #dfe1e6;
}

.contact_section {
  background-image: url('./images/header-shapes\ mobile@2x.svg');
  padding: 4rem 1rem;
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 60px;
  margin-top: 65px;
}

.contact-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding: 14px 40px;
}

.contact-content {
  font-style: normal;
  padding: 20px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  width: 327px;
}

.contact-form {
  padding: 20px auto;
  display: flex;
  flex-direction: column;
}

.contact-form input {
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 12px;
  margin: 6px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.contact-form textarea {
  background-color: #fff;
  width: 100%;
  height: 150px;
  resize: none;
  margin: 6px 0;
  border: 1px solid #cfd8dc;
  color: #b3bac5;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.contact-btn {
  font-style: normal;
  font-weight: 500;
  width: 162px;
  height: 48px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #396df2;
  padding: 8px;
  margin-top: 15px;
}

@media only screen and (min-width: 375px) {
  .main {
    width: auto;
    padding: 5rem 2rem;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 768px) {
  .menu-container {
    padding: 10px 80px;
    position: fixed;
    width: 100%;
  }

  .navbar img {
    display: none;
    flex: 1 1 200px;
  }

  .nav-list {
    margin-left: 50rem;
    float: right;
    list-style: none;
    display: flex;
    gap: 10px;
  }

  .nav-list a {
    text-decoration: none;
    color: #344563;
  }

  .mobile-menu {
    display: none;
  }

  .main {
    background-image: url('./images/header-shapes\ mobile@2x.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 10rem 10rem;
    height: 90vh;
  }

  .heading1 {
    width: 920px;
    font-size: 34px;
    line-height: 2rem;
    transition-duration: 4s;
    transition-delay: 2s;
  }

  .bio1 {
    width: 920px;
    height: 98px;
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0 20px 0;
  }

  .project-1,
  .project-2,
  .project-3,
  .project-4 {
    height: 496px;
    width: 1100px;
    border-radius: 24px;
    display: flex;
    gap: 20px;
    padding: 0 40px;
  }

  .project-1 {
    order: 3;
  }

  .project-2 {
    order: 4;
  }

  .project-3 {
    order: 1;
  }

  .project-4 {
    order: 2;
  }

  .card1-image {
    width: 544px;
    height: 448px;
  }

  .card-one-content,
  .card-three-content,
  .card-two-content,
  .card-four-content {
    margin-top: -100px;
  }

  .card2-image,
  .card4-image {
    width: 544px;
    height: 448px;
    order: 1;
  }

  .card3-image {
    width: 544px;
    height: 448px;
  }

  .about-section {
    width: 100%;
    display: flex;
    padding: 0 150px;
  }

  .content-1 {
    width: 50%;
  }

  .content-2 {
    padding: 90px 0;
    width: 50%;
  }

  .lang span {
    padding-left: 20px;
  }

  .language-card {
    display: flex;
  }

  .language-card li {
    display: block;
    width: 122px;
    height: 90px;
    padding: 5px 10px;
  }

  .language-card li span {
    margin-left: -20px;
  }

  .frem {
    width: 100%;
    padding: 20px 0 20px 20px;
  }

  hr {
    width: 470px;
  }

  .main-contact {
    background-color: #fff;
    padding: 20px 0 0 0;
  }

  .contact_section {
    background-image: url('./images/contact\ form\ background\ shapes.svg');
    background-size: cover;
    width: 100%;
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin: 20px 200px;
    width: 801px;
    align-items: center;
  }

  .contact-content {
    width: 569px;
  }

  .contact-form {
    width: 447px;
  }

  .contact-btn {
    margin: 5px 30%;
  }

  .error {
    color: #bd1335;
    font-size: 15px;
    margin: 10px;
  }

  .popup-content {
    width: 90%;
    height: 90%;
    display: block;
    gap: 20px;
    padding: 0 auto;
    margin: 20px auto;
    overflow-y: scroll;
  }

  .popup-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin: 20px auto;
  }

  .card-content {
    display: flex;
    margin: 20px auto;
  }

  .biography {
    width: 700px;
    height: 113px;
    font-weight: 400px;
    font-size: 15px;
    line-height: 30px;
    color: #344563;
  }

  .contact-container {
    display: block;
    margin: 0 auto;
  }

  #cate {
    margin-left: 15px;
    margin-bottom: 5px;
  }

  .contact-line {
    border: 0.5px solid #ebecf0;
    margin-bottom: 20px;
    width: 250px;
    margin-left: 15px;
  }
}
