@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --first-color: #6070ff;
  --title-color: #172b4d;
  --text-color: #344563;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.menu-container,
.main,
.grid-container {
  margin: 0 auto;
  padding: 1rem;
}

.menu-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

.main {
  background-image: url('./images/header-shapes\ mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 1rem;
}

.heading1 {
  font-size: 51px;
  font-weight: 700;
  color: var(--title-color);
  line-height: 4rem;
  padding-top: 2rem;
}

.bio {
  font-style: normal;
  padding: 20px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}

.conn {
  color: #7f8cff;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.media-container {
  list-style: none;
  display: flex;
  gap: 20px;
}

.grid-1,
.grid-2,
.grid-3 {
  width: 335px;
  height: 552px;
  background-color: white;
  align-items: center;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.project1 {
  width: 295px;
  height: 220px;
}

.ton {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--title-color);
  padding: 14px 0;
}

.canopy {
  display: flex;
  gap: 20px;
}

.canopy h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.canopy span {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.categories {
  list-style: none;
  display: flex;
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.categories li {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  margin: 0 10px 20px 0;
}

button {
  font-style: normal;
  font-weight: 500;
  width: 118px;
  height: 40px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 16px;
  color: #396df2;
  padding: 8px;
}

button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #396df2;
}

@media only screen and (min-width: 375px) {
  .main {
    width: auto;
    padding: 5rem 2rem;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 768px) {
  .menu-container,
  .main,
  .grid-container {
    width: 30%;
  }
}
